@media (max-width: 600px) {
    .header {
        margin-bottom: 12px;
        position: static !important;
        z-index: auto !important;
    }

    .peer-banner {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 0;
        font-size: 1.1em;
        padding: 6px 0;
        text-align: center;
        word-break: break-word;
        background: #ffcc4d;
        color: #222;
        font-weight: bold;
        border-radius: 0;
        box-shadow: none;
        margin: 0 0 4px 0;
        border: 2px solid #e6b800;
        width: 100vw;
        max-width: 100vw;
        left: 0;
        right: 0;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }

    #main-page {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .peer-banner button {
        width: 100%;
        min-width: 0;
        font-size: 1em;
        padding: 10px 0;
        margin: 0;
        box-sizing: border-box;
        background: #f5b800;
        color: #222;
        font-weight: bold;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
}

/*************************************************************
 * Stylesheet for RATDGO web status page
 *
 * Copyright (c) 2023-25 David Kerr, https://github.com/dkerr64
 *
 *************************************************************/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: darkgray;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    scrollbar-width: none;
}

input,
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    /* background-color: rgb(180, 117, 23); */
    background-color: darkgoldenrod;
    color: white;
    border-style: solid;
    border-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
    font-weight: bold;
    font-size: 2vw;
    padding: 5px;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    vertical-align: middle;
    accent-color: darkgoldenrod;
    margin: 0px;
}

input[type="checkbox"][disabled] {
    cursor: not-allowed;
}

.button-row input[type="button"] {
    padding-left: 0px;
    padding-right: 0px;
}


input[type="file"]::-webkit-file-upload-button:active,
input[type="file"]::file-selector-button:active,
input[type="button"]:active {
    background-color: rgba(184, 135, 11, 0.75);
    transform: scale(0.95);
}

input.slider {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    margin: 0;
    border: 0;
    padding: 0;
    height: 15px;
    background-color: transparent;
    border-radius: 5px;
}

input.slider::-webkit-slider-runnable-track {
    height: 3px;
    background-color: #B0B0B0;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 0px;
    margin-top: -7px;
    background: darkgoldenrod;
    cursor: pointer;
}

input.slider::-moz-range-track {
    height: 3px;
    background-color: #B0B0B0;
}

input.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 0px;
    margin-top: -7px;
    background: darkgoldenrod;
    cursor: pointer;
}

label {
    cursor: pointer;
}

select {
    vertical-align: middle;
    font-size: 1em;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
    width: 15em;
    padding: 5px;
    appearance: unset;
}

div {
    position: static;
    float: left;
    background-color: #E0E0E0;
    border-color: #303030;
    padding: 10px;
}

div.serverstatus {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    td:nth-child(1) {
        text-align: right;
    }
}

div.qrcode {
    width: 25%;
    left: 75%;
    max-width: 200px;
    overflow: hidden;
    position: absolute;
}

div.fullwidth {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-right: 0px;

    td:nth-child(2n - 1) {
        text-align: right;
    }
}

div.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.peer-banner {
    width: 100%;
    max-width: 800px;
    background: #2b2b2b;
    color: #fef1d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    font-size: 0.8em;
    cursor: pointer;
}

.peer-banner button {
    min-width: 72px;
    font-size: 0.8em;
    padding: 4px 12px;
    background-color: darkgoldenrod;
    border: 1px solid #f5c56b;
}

.peer-drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: min(360px, 85vw);
    background-color: #111;
    color: #fef1d4;
    box-shadow: -12px 0 32px rgba(0, 0, 0, 0.6);
    transform: translateX(100%);
    transition: transform 0.25s ease;
    z-index: 1500;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 2px solid rgba(255, 215, 128, 0.4);
}

.peer-drawer.open {
    transform: translateX(0);
}

.peer-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease;
    z-index: 1400;
}

.peer-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.peer-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid rgba(255, 215, 128, 0.3);
    padding-bottom: 8px;
}

.peer-drawer-label {
    font-weight: bold;
    margin: 0;
    color: #ffd98c;
}

.peer-drawer-sub {
    margin: 0;
    font-size: 0.75em;
    opacity: 0.75;
}

#peer-drawer-close {
    background: #2b2b2b;
    border: 1px solid rgba(255, 215, 128, 0.5);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 1.2em;
    line-height: 1;
    cursor: pointer;
    color: #fef1d4;
}

.peer-list {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.peer-card {
    background: rgba(43, 34, 23, 0.9);
    border: 1px solid rgba(255, 215, 128, 0.4);
    border-radius: 10px;
    padding: 12px;
    color: #fff6dc;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.4);
}

.peer-card h4 {
    margin: 0;
    font-size: 1em;
    color: #ffd98c;
}

.peer-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
    margin-top: 6px;
    font-size: 0.7em;
    opacity: 0.8;
}

.peer-state {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    font-size: 0.85em;
}

.peer-actions {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.peer-action-btn {
    flex: 1 1 30%;
    background-color: darkgoldenrod;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 6px 8px;
    font-size: 0.75em;
    cursor: pointer;
}

.peer-action-btn:disabled {
    opacity: 0.6;
    cursor: wait;
}

.peer-feedback {
    margin: 6px 0 0 0;
    font-size: 0.7em;
    min-height: 1em;
    color: #d8caa5;
}

.peer-feedback.error {
    color: #ff9b7b;
}

.peer-badge {
    display: inline-block;
    font-size: 0.65em;
    padding: 2px 6px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 6px;
}

.peer-empty {
    font-size: 0.9em;
    opacity: 0.7;
    margin: 0;
}

div.fullpage {
    margin: auto;
    max-width: 800px;
    height: auto;
    overflow: hidden;
    position: relative;
    float: none;
    border-style: solid;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.center {
    text-align: center;
    padding: 0px;
}

div.footer {
    width: 100%;
    font-size: 12px;
    padding: 0px;
    padding-bottom: 5px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    white-space: pre;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: inline-grid;
}

p.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 2vw;
    margin: 0px;
}

pre.logo {
    font-size: 1.5vw;
    margin-bottom: -2vw;
}

div.name {
    font-weight: bold;
    font-size: 4vw;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

td {
    padding: 1px;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

table.password,
table.settings {
    border-collapse: unset;
}

table.settings td,
table.settings label,
table.password td,
table.password label {
    vertical-align: middle;
    font-size: 0.8em;
}

table.status td:nth-child(2),
table.settings td:nth-child(2) {
    padding-left: 5px;
}

table.settings td.label,
table.settings td.IPlabel,
table.password td.label {
    vertical-align: middle;
    text-align: right;
    font-size: 0.8em;
}

table.settings select.TZinput,
table.settings select.FCinput,
table.settings input.IPinput {
    font-size: 0.9em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #E0E0E0;
    margin: auto;
    padding: 20px;
    border: 1px solid gray;
    width: 90%;
    max-width: 720px;
    float: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: 1px solid darkgray;
    width: 100%;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    height: initial;
    width: 100%;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 1px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

/* Style the buttons that are used to open the tab content */
div.tab button {
    background-color: darkgoldenrod;
    font-weight: bold;
    color: white;
    float: left;
    border-color: transparent;
    margin: 1px;
    outline: none;
    cursor: pointer;
    padding: 2vw 1vw;
    transition: 0.3s;
    font-size: 2vw;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: lightgray;
    color: black;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: silver;
    color: black;
}

/* Style the tab content */
div.tabcontent {
    display: none;
    width: 100%;
    height: 0px;
    overflow: auto;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

div.logheader {
    max-width: 100%;
    height: initial;
    flex: 0 1 auto;
    border-bottom-style: none;
}

#loader {
    border: 12px solid whitesmoke;
    border-radius: 50%;
    border-top: 12px solid dimgray;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    visibility: hidden;
    z-index: 99;
}

.ldrcenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 660px) {
    body {
        font-size: 19.8px;
    }

    div.tab button {
        padding: 14px 6px;
        font-size: 13.2px;
    }

    input,
    input[type="file"]::-webkit-file-upload-button,
    input[type="file"]::file-selector-button {
        font-size: 13.2px;
    }

    div.name {
        font-size: 26.4px;
        margin-left: 13.2px;
    }

    pre.logo {
        font-size: 9.9px;
        margin-bottom: -13.2px;
    }

    p.logo {
        font-size: 13.2px;
    }
}

@media (prefers-color-scheme: light) {

    .modal-content,
    html,
    div,
    input[type="file"],
    body {
        background-color: #E0E0E0;
        border-color: #303030;
        color: black;
    }

    select,
    input[type="number"],
    input[type="text"],
    input[type="password"] {
        background-color: #F0F0F0;
        border-color: #303030;
        color: black;
    }

    input[type="checkbox"][disabled]+label {
        color: rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
    }

    div.footer,
    a {
        color: #505050;
    }
}

@media (prefers-color-scheme: dark) {

    .modal-content,
    html,
    div,
    input[type="file"],
    body {
        background-color: #303030;
        border-color: #E0E0E0;
        color: white;
    }

    select,
    input[type="number"],
    input[type="text"],
    input[type="password"] {
        background-color: #202020;
        border-color: #E0E0E0;
        color: white;
    }

    input[type="checkbox"][disabled]+label {
        color: rgba(255, 255, 255, 0.5);
        cursor: not-allowed;
    }

    div.footer,
    a {
        color: #B0B0B0;
    }
}